@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.montserrat-new {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* Custom slider styles */
.slider::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #292b29;
  cursor: pointer;
  border: none;
  transition: all 0.15s ease-in-out;
}

.slider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

.slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #292b29;
  cursor: pointer;
  border: none;
  transition: all 0.15s ease-in-out;
}

.slider::-moz-range-track {
  height: 8px;
  background: #c8c9c6;
  border-radius: 4px;
}

.slider:focus {
  outline: none;
}